*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  background-color:#232F3E;
  padding: 5px;
}

nav img{
  width: 140px;
  height: 80px;
  display: block;
  position: relative;
  left: 550px;
}

.body{
  display: inline-block;
}

.img{
  display: block;
  position: relative;
  left: 180px;
  bottom: 70px;
  width: 400px;
  height: 450px
}

.body h2{
  position: relative;
  left: 600px;
  top: 70px;
  font-size: 35px;
  width: 500px;
}

.body h5{
  position: relative;
  left: 600px;
  top: 100px;
  width: 520px;
  font-size: 16px;
  color:darkslategray;
}

.select{
  position: relative;
  left: 600px;
  top: 130px;
  font-size: 22px;
}

.options{
 display: inline-block;
 width: 100px;
 height: 100px;
 position: relative;
 left: 620px; 
 bottom: 300px;
}

.color-border{
  border: 3px solid teal ;
  border-radius: 5px;
}

.features{
  position: relative;
  left: 600px;
  bottom: 300px;
  font-size: 22px ;
}

.body h3{
  position: relative;
  color: aliceblue;
  left: 334px;
  bottom: 425px;
  font-size: 32px;
}

.body button{
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  left: 630px;
  bottom: 280px;
  width: 120px;
  display: inline-block;
  margin-right: 20px;
}

.chosen-button{
  background-color:grey;
  color: aliceblue;
}

.body .heart{
  position: relative;
  left: 360px;
  color:aliceblue;
}

.body .heart-gif{
  width: 55px;
  height: 70px;
  position: relative;
  left: 70px;
  bottom: 560px;
}

.body .buy{
  margin-top: 50px;
  background-color: cadetblue;
  position: relative;
  left: 620px;
}

.body .buy strong{
  font-size: 18px;
  color: aliceblue;
}